* {
    box-sizing: border-box;
  }
  .menu {
    float:left;
    width:20%;
    text-align:center;
  }
  .menu a {
    background-color:#500d0d9d;
    padding:8px;
    margin-top:7px;
    display:block;
    width:100%;
    color:black;
  }
  .main {
    float:left;
    width:60%;
    padding:0 20px;
  }
  .right {
    background-color:#e5e5e5;
    float:left;
    width:20%;
    padding:15px;
    margin-top:7px;
    text-align:center;
  }
  .topnav{
      overflow:hidden;
      color:black;
      background:lightblue;
  }
  .topnav a {
    float: left;
    color: rgba(21, 22, 26, 0.212);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: lightblue;
    color: rgba(0, 38, 255, 0.212);
  }
  
  .topnav a.active {
    background-color:lightblue;
    color: black;
  }
  #myHeader {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}
body{
    background-color:lightgrey;
}